<h1>Sign-up</h1>

<%= form_with model: @user do |form| %>
    <%= form.label :name%>
    <%= form.text_field :name%>
    <%= form.label :email%>
    <%= form.text_field :email%>
    <%= form.label :phone_no%>
    <%= form.text_field :phone_no%>
    <%= form.label :password%>
    <%= form.text_field :password%>
    <%= form.submit "sign up"%>
<% end %>

<%= link_to "login", login_path%>

